@import "variables";

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'),
  url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../fonts/opensansbold.woff2') format('woff2'),
  url('../fonts/opensansbold.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: $container-min;
  font-family: $OpenSans;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.14;
  color: $blue;
}

img {
  max-width: 100%;
}

input, textarea, select {
  background-color: $input-bg;
  &:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px $input-bg;
  }
}

[href^="tel"], [href^="mailto"] {
  cursor: default;
  color: inherit;
  border-bottom: none;
  white-space: nowrap;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: inherit;
    text-decoration: none;
  }
}

label, button {
  cursor: pointer;
}

a{
  color: $pink;
  border-bottom: 1px solid $pink;
  text-decoration: none;
}