img {
  max-width: 100%;
}

input, textarea, select {
  background-color: $input-bg;
  &:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px $input-bg;
  }
}

[href^="tel"], [href^="mailto"] {
  cursor: default;
  color: inherit;
  border-bottom: none;
  white-space: nowrap;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: inherit;
    text-decoration: none;
  }
}

label, button {
  cursor: pointer;
}