// grid
$gutter: 15px;

// colors
$input-bg: #fff;
$white: #fff;
$black: #000;
$blue: #283645;
$blue-dark: #1D2631;
$pink: #D22856;
$gray-verylight: #F2F2F2;
$gray-light: #E5E5E5;

// fonts
$OpenSans: 'OpenSans', 'Arial', sans-serif;