// grid
$gutter: 15px;

// colors
$input-bg: #fff;
$white: #fff;
$black: #000;
$blue: #283645;
$blue-dark: #1D2631;
$pink: #D22856;
$gray-verylight: #F2F2F2;
$gray-light: #E5E5E5;

// fonts
$OpenSans: 'OpenSans', 'Arial', sans-serif;

$grid-breakpoints: (
        xs: 0,
        sm: 700px,
        md: 1200px
);

$container-max-widths: (
        sm: 620px,
        md: 940px
);

$sm: "min-width: " + map-get($grid-breakpoints, sm);
$md: "min-width: " + map-get($grid-breakpoints, md);

$container-min: 320px;

$retina: "min-resolution: 144dpi), (min-resolution: 1.5dppx";

$transition:  cubic-bezier(.22,1,.45,1);
