@import "../variables";
@import "../mixins";

.advantages {
  padding: 12px 0 0;
  text-align: center;

  @media ($sm) {
    padding-top: 48px;
  }

  @media ($md) {
    padding-top: 67px;
  }

  &__slogan {
    padding-left: $gutter;
    padding-right: $gutter;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    margin: 30px 0;

    @media ($sm) {
      font-size: 40px;
      margin: 0;
    }

    @media ($md) {
      font-size: 50px;
    }

    br {
      display: none;

      @media ($sm) {
        display: inline;
      }
    }
  }

  &__inner {
    margin-top: 0;
    padding-left: $gutter;
    padding-right: $gutter;

    @media ($sm) {
      margin-top: 49px;
      padding-bottom: 0;
    }

    @media ($md) {
      margin-top: 80px;
    }
  }

  &__container {
    @include container();
    display: flex;
    flex-direction: column;

    @media ($sm) {
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: -60px;
    }

    @media ($md) {
      flex-direction: column-reverse;
      margin-top: -106px;
    }
  }

  &__phones {
    display: flex;
    justify-content: center;
    padding-top: 12px;

    @media ($sm) {
      width: 50%;
      justify-content: flex-start;
    }

    @media ($md) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__phone {
    width: 157px;
    height: 277px;
    background: center top/100% no-repeat;

    @media ($sm) {
      width: 268px;
      height: 481px;
    }

    @media ($md) {
      width: 300px;
      padding-left: 33px;
      padding-right: 33px;
      height: 302px;
      background-size: contain;
    }

    &--sentiment {
      display: none;

      @media ($md) {
        display: block;
        background-image: url(../img/iphone-screen-1-desktop@1x.png);

        @media ($retina) {
          background-image: url(../img/iphone-screen-1-desktop@2x.png);
        }
      }
    }

    &--change {
      display: none;

      @media ($md) {
        display: block;
        background-image: url(../img/iphone-screen-2-desktop@1x.png);

        @media ($retina) {
          background-image: url(../img/iphone-screen-2-desktop@2x.png);
        }
      }
    }

    &--friends {
      background-image: url(../img/iphone-screen-mobile@1x.png);

      @media ($retina) {
        background-image: url(../img/iphone-screen-mobile@2x.png);
      }

      @media ($sm) {
        background-image: url(../img/iphone-screen-3-tablet@1x.png);

        @media ($retina) {
          background-image: url(../img/iphone-screen-3-tablet@2x.png);
        }
      }

      @media ($md) {
        background-image: url(../img/iphone-screen-3-desktop@1x.png);

        @media ($retina) {
          background-image: url(../img/iphone-screen-3-desktop@2x.png);
        }
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding-top: 79px;

    @media ($sm) {
      width: 50%;
    }

    @media ($md) {
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      padding-top: 55px;
    }
  }

  &__item {
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: center;

    @media ($sm) {
      margin-bottom: 23px;
      text-align: left;
    }

    @media ($md) {
      margin-bottom: 23px;
      width: 300px;
      padding-left: 33px;
      padding-right: 33px;
      text-align: center;
    }
  }

  &__text {
    margin: 10px 0;

    @media ($md) {
      font-size: 18px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $black;

    @media ($md) {
      margin-bottom: 24px;
      font-size: 30px;
      line-height: 1;
    }
  }

  &__effect {
    display: none;

    @media ($sm) {
      @include container();
      @include clearfix();
      padding-top: 1px;
      display: block;
      background: url(../img/icon-timer.svg) left center/240px no-repeat;
    }

    @media ($md) {
      background-size: 298px 83%;
      background-position: left 5%;
    }
  }

  &__effect-content {
    margin-top: 96px;
    margin-bottom: 87px;
    width: 50%;
    margin-left: auto;
    text-align: left;

    @media ($md) {
      width: 61%;
      margin-bottom: 111px;
      font-size: 18px;
    }
  }

  &__effect-title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;

    @media ($md) {
      margin-bottom: 18px;

      br {
        display: none;
      }
    }
  }

  &__effect-text {
    margin: 0 0 10px;
    line-height: 1.71;

    @media ($md) {
      margin-bottom: 25px;
    }
  }
}
