.advantages {
  text-align: center;
  &__slogan {
    padding-left: $gutter;
    padding-right: $gutter;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    margin: 46px 0;
  }
  &__banner {

  }
  &__inner {
    padding-left: $gutter;
    padding-right: $gutter;
    background-image: url(../../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: center calc(100% + 42px);
    padding-bottom: 320px;
  }
  &__item {
    line-height: 1.7;
    margin-bottom: 10px;
  }
  &__text {

  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }
}
