@import "../variables";

.btn {
  @include reset-button();
  display: block;
  width: 100%;
  padding: 5px;
  border: 3px solid $pink;
  border-radius: 27px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: $pink;

  @media ($md) {
    font-size: 21px;
    padding: 2px;
  }

  &--bold {

  }

  &--color_white{
    border-color: $white;
    color: $white;
  }

  &--color_gray {
    color: #DDDFE0;
    border-color: #DDDFE0;
  }
}
