@import "../variables";

.contacts {
  text-align: center;
  line-height: 1.2;

  &__container {
    @include container();
  }

  &__slogan {
    font-size: 24px;
    font-weight: 300;
    margin: 42px 0 27px;

    br {
      display: none;
    }

    @media ($sm) {
      margin: 46px 0 34px;
      font-size: 40px;
    }

    @media ($md) {
      margin: 64px 0 47px;
      font-size: 50px;

      br {
        display: inline;
      }
    }
  }

  &__inner {
    position: relative;
    padding-left: $gutter;
    padding-right: $gutter;
    padding-bottom: 30px;
    background-color: $white;
    z-index: 1;

    @media ($sm) {
      padding-bottom: 0;
    }

    @media ($md) {
      padding-bottom: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      height: 30px;
      background: url('../img/bg-triangle-white-footer.svg') center no-repeat;
      background-size: 100% 100%;

      @media ($sm) {
        height: 72px;
      }
    }
  }

  &__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media ($sm) {
      margin-bottom: -13px;
    }
  }

  &__item {
    margin: 11px 0;
    padding: 0 $gutter;
    flex-basis: 100%;

    @media ($sm) {
      flex-basis: 33%;
      margin-bottom: 37px;
    }

    @media ($md) {

      &:first-child {
        order: -10;
      }

      &:last-child {
        order: -5;
      }
    }
  }

  &__item-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;

    @media ($sm) {
      margin-bottom: 8px;
    }

    @media ($md) {
      margin-bottom: 25px;
    }
  }

  &__item-value {
    color: $pink;
    font-size: 24px;
    font-weight: 300;

    a[href^=mailto] {
      text-decoration: none;
      border-color: rgba($white, 0);
      transition: border-color .2s $transition, color .2s $transition, opacity .2s $transition;

      &:hover, &:focus {
        outline: none;
        color: $blue;
        border-color: $blue;
      }

      &:active {
        opacity: 0.3;
        border-color: rgba($white, 0);
      }
    }

    a[href^=tel] {

      &:focus {
        outline: none;
        color: $blue;
        border-color: $blue;
      }
    }
  }

  &__map {
    height: 200px;
    background: url(../img/icon-map-marker.svg) center 60% no-repeat, url(../img/bg-map-mobile@1x.png) center/cover no-repeat;

    @media ($sm) {
      height: 390px;
      background: url(../img/icon-map-marker.svg) center 60% no-repeat, url(../img/bg-map-tablet@1x.jpg) center/cover no-repeat;
    }

    @media ($md) {
      height: 470px;
      background: url(../img/icon-map-marker.svg) center 60% no-repeat, url(../img/bg-map-desktop@1x.jpg) center/cover no-repeat;
    }
  }
}
