@import "../variables";
@import "../mixins";

.page-footer {
  @include container();
  text-align: center;
  padding-top: 37px;
  padding-bottom: 30px;

  @media ($sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }

  @media ($md) {
    padding-top: 70px;
    padding-bottom: 76px;
  }

  &--main {
    display: none;

    @media ($sm) {
      display: flex;
    }
  }

  &__logo {
    display: block;
    border-bottom: none;
    font-size: 0;
    margin-bottom: 40px;

    @media ($sm) {
      margin-bottom: 0;
    }
  }

  &__copyright {

    @media ($md) {
      font-size: 18px;
    }

    a {
      font-size: 0;
      margin-left: 5px;
      color: $pink;
      border-bottom: none;
      &:hover, &:focus {
        outline: none;

        svg {
          fill: $black;
        }
      }
    }

    svg {
      vertical-align: middle;
      margin-left: 5px;
      transition: opacity .2s $transition, fill .2s $transition;
      fill: $pink;

      &:hover {
        fill: $black;
      }

      &:active {
        opacity: .3;
      }
    }
  }

  &__social {
    margin-bottom: 39px;

    @media ($sm) {
      margin-bottom: 0;
    }
  }
}
