@import "../variables";

.photo-editor {
  padding: 20px $gutter 0;
  background-color: #F2F2F2;

  @media ($sm) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media ($md) {
    max-width: map-get($container-max-widths, 'md');
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    @include container();

    @media ($sm) {
      display: flex;
      justify-content: space-between;
    }
    @media ($md) {
      max-width: 800px;
    }
  }

  &__content {

    @media ($sm) {
      flex-basis: 300px;
    }
    img {
      display: block;
      width: 100%;
    }
  }

  &__all-controls {

    @media ($sm) {
      flex-basis: 275px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media ($md) {
      flex-basis: 410px;
    }
  }

  &__photo-params {
    display: flex;
    flex-direction: column;

    @media ($sm) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: -17px;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 42px 0 0;

    @media ($sm) {
      margin: 0;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }
  }

  &__control-bars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media ($sm) {
      flex-grow: 1;
    }
  }

  &__control-item {
    @include reset-button();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin: 0 $gutter;
    text-align: center;
    color: $blue;
    opacity: .3;
    transition: opacity .2s $transition, color .2s $transition;

    &:hover {
      opacity: .5;
    }

    &:active {
      opacity: 1;
      color: $pink;
    }

    &--active {
      color: $pink;
      opacity: 1;

      &:hover {
        opacity: 1;
      }
    }

    @media ($sm) {
      width: 22px;
      height: 22px;
      margin: 26px 30px 26px 8px;
      color: $pink;
      opacity: 1;

      &:hover {
        opacity: 1;
      }

      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    @media ($md) {
      width: 44px;
      height: 44px;
      margin: 14px 40px 14px 0;

      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__control-bar {
    margin: 30px $gutter;
    height: 2px;
    background-color: $black;
    position: relative;
    display: none;

    @media ($sm) {
      display: block;
      order: 0;
      margin: auto 0;
    }

    @media ($md) {
      margin-right: 28px;
      margin-left: 9px;
    }

    &--active {
      display: block;
    }
  }

  &__control-spinner {
    @include reset-button();
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 1px;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border: 2px solid $pink;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s $transition;

    &:hover, &:focus, &:active {
      outline: none;
      background-color: $pink;
    }
  }

  &__separator {
    display: none;
    margin: 0;
    border: none;
    border-bottom: 1px solid #DDDFE1;
    width: 100%;

    @media ($sm) {
      display: block;
    }

    &--last {
      display: block;
      border-bottom: 1px solid #DDDFE1;
    }
  }

  &__buttons {
    padding: 38px 0 41px;

    @media ($sm) {
      margin-top: auto;
      padding: 0;
      padding-right: 13px;
    }

    @media ($md) {
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__button {
    margin-bottom: 12px;

    @media ($sm) {
      margin-bottom: 25px;
    }

    @media ($md) {
      margin-bottom: 0;
      margin-right: 41px;
    }

    &:last-of-type {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}
