@import "../variables";

.photo {
  padding: 0 20px;

  @media ($sm) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &--panorama-this-day{
    padding: 0;
    position: relative;

    &::before {
      content: 'Панорама дня';
      position: absolute;
      top: 0;
      right: 20px;
      padding: 5px 20px;
      background-color: $pink;
      color: $white;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;

      @media ($sm) {
        top: 57px;
        right: 40px;
      }

      @media ($md) {
        top: 55px;
        right: 130px;
      }
    }

    .photo__description {
      margin-left: 20px;
      margin-right: 20px;

      @media ($sm) {
        justify-content: space-between;
        width: map-get($container-max-widths, 'sm');
        margin-left: auto;
        margin-right: auto;
        padding: 24px 28px 16px;
      }

      @media ($md) {
        padding: 24px 28px 8px;
        width: map-get($container-max-widths, 'md');
      }
    }

    .photo__comment {
      order: 1;
    }

    .photo__like {
      width: auto;

      svg {

        @media ($sm) {
          margin-left: 14px;
        }

        @media ($md) {
          margin-left: 20px;
        }
      }
    }
  }

  &__image {
    width: 100%;
    display: block;
    border-bottom: none;

    img {
      width: 100%;
      display: block;
    }
  }

  &__description {
    padding: 20px $gutter;
    line-height: 1.7;
    background-color: #F2F2F2;

    @media ($sm) {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      padding: 24px 28px;
    }
  }

  &__comment {
    margin: 0 0 10px;

    @media ($sm) {
      flex-basis: 100%;
      margin-bottom: 17px;
    }
  }

  &__like {
    @include reset-button();
    color: $pink;
    font-size: 12px;
    text-transform: uppercase;

    @media ($sm) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    svg {
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 14px;

      @media ($sm) {
        order: 1;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  &__like-count {

    @media ($sm) {
      margin-left: 5px;
    }
  }

  &__name {
    font-weight: 700;

    @media ($sm) {
      margin-bottom: 1px;
    }
  }

  &__time {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
  }
}
