@import "../variables";

.photos {

  @media ($sm) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 50%;
    margin-bottom: 20px;

    &--panorama-this-day {
      flex-basis: 100%;
    }
  }
}
