@import "../variables";
@import "../mixins";

.slider {
  position: relative;
  overflow: hidden;

  &--no-js {

    .slider__dots {
      display: none;
    }

    .slider__arrow {
      display: none;
    }
  }

  &--centered {
    padding-left: 22px;
    padding-right: 22px;
  }

  &__wrapper {
    position: relative;
  }

  &__item {
    width: 100%;
    top: 0;
    transition: transform .3s ease;
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin: 25px 0 40px;

    @media ($md) {
      display: none;
      margin-bottom: 13px;
    }
  }

  &__dot-item {
    @include reset-button();
    padding: 10px;

    &:focus, &:hover {
      outline: none;

      .slider__dot-item-inner {
        background-color: rgba($blue, .6);
      }
    }

    &:active {

      .slider__dot-item-inner {
        background-color: rgba($blue, .1);
      }
    }

    &--active {

      &:focus, &:hover {

        .slider__dot-item-inner {
          background-color: $white;
        }
      }

      &:active {

        .slider__dot-item-inner {
          background-color: $white;
        }
      }

      .slider__dot-item-inner {
        background-color: $white;
        box-shadow: 0 0 0 3px $blue;
      }
    }
  }

  &__dot-item-inner {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba($blue, .3);
    transition: background-color .2s ease, box-shadow .2s ease;
  }

  &__arrow {
    @include reset-button();
    display: none;
    position: absolute;
    top: 57%;
    margin-top: -20px;
    width: 22px;
    height: 41px;
    background: center no-repeat;
    opacity: .3;
    transition: opacity .2s $transition;

    &:hover, &:focus {
      outline: none;
      opacity: .6;
    }

    &:active {
      opacity: .1;
    }

    &[disabled] {
      opacity: .1;
      cursor: not-allowed;
    }

    @media ($md) {
      display: block;
    }

    &--prev {
      right: calc(50% + 450px);
      background-image: url(../img/icon-review-arrow-left.svg);
    }

    &--next {
      left: calc(50% + 450px);
      background-image: url(../img/icon-review-arrow-right.svg);
    }
  }
}
