@import "../variables";
@import "../mixins";

.social-buttons {
  display: flex;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 3px solid #EDEEF0;
    margin: 0 6px;
    font-size: 0;
    text-decoration: none;
    color: $pink;
    transition: border-color .2s $transition, opacity .2s $transition;

    &:hover, &:focus {
      outline: none;
      border-color: $black;
    }

    &:active {
      border-color: #EDEEF0;
      opacity: .3;
    }
  }
}
