@import "../variables";

.social-buttons {
  display: flex;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 3px solid #EDEEF0;
    margin: 0 6px;
    font-size: 0;
    text-decoration: none;
    color: $pink;
  }
}
